{% from 'form_helper.html' import displayField %}

{% extends "prelogin-layout.html" %}

{% block title %}Registration {% endblock %}

{% block content %}
<h1>Flask</h1>

<form action="{{ url_for('index') }}", method="POST">

	{{ displayField(form.username, 'Name', autocomplete="on", autofocus=true) }}
	{{ displayField(form.password, 'Password', autocomplete="off") }}
	{{ displayField(form.confirm_password, 'Confirm Password', autocomplete="off") }}
	<div>
		{{ form.submit_button }}
	</div>

	{{ form.csrf_token }}
</form>
{% endblock %}